*   {
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1f2937;
    background-image: linear-gradient(to bottom right, #fff7eda6, white);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    margin: 0;
    height: 100vh;
}

.aside {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr ;
    grid-template-columns: 1fr;
    background-color: #fed7aa;
    padding-left: 1rem;
    overflow: hidden;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    background-color: #fafaf9;
    border-bottom: gainsboro 1px solid;
}

.content-body {
    grid-area: 2 / 2 / -1 / -1;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 1fr;
    background-color: white;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;

    > svg {
        max-width: 15%;
        max-height: 20%;
    }
}

h1 {
    margin: 0;
}

.title-container {
    font-size: 0.7rem;
    > h1 {
        padding-left: 1.2rem;
    }
}

.menu-svg-wrapper {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.menu-svg-wrapper:hover {
    background-color: #b8790c28;
    cursor: pointer;
    fill: #b8790c ;
}


.log-out {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.log-out:hover {
    background-color: #b8790c28;
    cursor: pointer;
    fill: red;
}

.menu-svg-wrapper:active {
    opacity: 70%;
}

.menu-item {
    padding-left: 1.2rem;
}

svg {
    max-width: 30px;
    max-height: 30px;
}

svg:active {
    opacity: 50%;
}

.menu-top {
    grid-area: 2 / 1 / 3 / 2;
}

.menu-bottom {
    grid-area: 3 / 1 / 4 / 2;
}

.header-top {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
    justify-content: space-between;

}

.search-bar {
    display: flex;
    width: calc(50px + 35vw);
    padding-right: 12px;

    > input {
        flex: 4;
        margin-left: 2rem;
        border-radius: 20px;
        padding-left: 10px;
        background-color: #fafaf9;
        border: 1px solid gainsboro;
    }

    > svg {
        flex: 1;
    };
}

.search-bar > svg:hover {
    cursor: pointer;
    fill: #f59e0b;
}

.profile-container > svg {
    fill: grey;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}


.profile-container > svg:hover {
    fill: #f59e0b;
    cursor: pointer;
}

#notification {
    position: relative;
    + img {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#notification::before {
    position: relative;
    bottom: 12px;
    right: 8px;
    content: "1";
    padding: 1.5px;
    color: white;
    font-size: 0.7rem;
    background-color: red;
    border-radius: 12px;
}

img {
    border-radius: 360px;
    border: 1px solid gray;
}

img {
    max-width: 45px;
    max-height: 45px;
}

img:hover {
    opacity: 70%;
    cursor: pointer;
}

.uname {
    font-weight: 600;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    > div {
        font-size: 0.6em;
        line-height: 1;
    }
}

#goofy-image {
    max-width: 70px;
    max-height: 70px;
}

.greeting-container {
    display: flex;
    align-items: center;
    > .welcome-message {
        padding-left: 1rem;
    }
}

button {
    appearance: none;
    background-color: #fed7aa;
    border: none;
    border-radius: 5px;
    padding: 7px 14px;
    margin: 0 0.2rem;
    color: #1f2937;
}

button:hover {
    background-color: #c4800b;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: #b8790c;
    color: white;
    box-shadow: 0 0 1px gray;
}

.tasks-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: minmax(220px, 1fr) minmax(220px, 1fr) minmax(220px, 1fr);
    gap: 30px;
    padding: 0 2rem;
}

.task {
    display: grid;
    grid-template-columns: 0.2fr 10fr;
    grid-template-rows: 4fr 1fr;
    border: grey 1px solid;
    border-radius: 5px;
    h4 {
        font-size: 1rem;
    }
}

.task  h4 ~ div {
    font-size: 0.75em;
}

.color-division {
    grid-area: 1 / 1 / -1 / 2;
    background-color: #b8790c;
}

.task-details {
    grid-area: 1 / 2 / 2 / -1;
    padding: 0 1rem;
}

.task-actions {
    grid-area: 2 / 2 / 3 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0.5rem;
    > svg {
        max-width: 20px;
        max-height: 20px;
        margin: 3px;
    }
}

.task-actions {
    --hover-fill: green;
}

.task-actions svg:hover{
    fill: var(--hover-fill);
    cursor: pointer;
}

.task-actions svg:nth-child(2){
    --hover-fill: orange;
}

.task-actions svg:nth-child(3){
    --hover-fill: grey;
}

.main-content h3 {
    padding-left: 2rem;
}

/* Events */
.notice-board {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 5fr 0.75fr 5fr 3fr;
}


.events-section {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    padding: 0.3rem 0.5rem;
    margin-right: 2rem;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.read-more {
    font-weight: 700;
    padding: 0.4rem 0;
}

.read-more:hover {
    cursor: pointer;
    color: #35465e;
}

.read-more:active {
    color: #5c718d;
}

.line-end {
    width: 70%;
    border-bottom: rgb(136, 134, 134) 1px solid;
    justify-self: center;
    margin: 0 auto;
}

.event-container > h4{
    font-size: 0.9rem;
    margin: 0.2rem 0;
}

.event-container > div{
    font-size: 0.75rem;
}

.event:hover {
    background-color: #fff7ed;
}

#top-performer {
    color: rgb(133, 113, 0);
    animation: blink 3s step-end infinite;
    opacity: 0.5;
}

@keyframes blink {
    from, to { opacity: 0.5; }
    50% { opacity: 1; }
}

#top-performer:hover {
    cursor: help;
}

.learning-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0.3rem 0.5rem;
    margin-right: 2rem;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.teacher {
    font-size: 0.9rem;
    margin: 0.2rem 0;
    font-weight: 700;
}

.lesson{
    font-size: 0.75rem;
}

.lesson-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

.lesson-container img {
    margin-left: 1rem;
}

.teacher-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.teacher-container:hover {
    background-color: #fff7ed;
    cursor: pointer;
}