*   {
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1f2937;
    background-image: linear-gradient(to bottom right, #fff7eda6, white);
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.aside {
    grid-area: 1 / 1 / -1 / 2;
}

.header {
    grid-area: 1 / 2 / 3 / -1;
    display: grid;
}

.content-body {
    grid-area: 2 / 2 / -1 / -1;
}

