*   {
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1f2937;
    background-image: linear-gradient(to bottom right, #fff7eda6, white);
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
}

.aside {
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-rows: 2fr 2fr 5fr ;
    grid-template-columns: 1fr;
    background-color: #fef3c7;
}

.header {
    grid-area: 1 / 2 / 3 / -1;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    background-color: white;
}

.content-body {
    grid-area: 2 / 2 / -1 / -1;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;

    > svg {
        max-width: 15%;
        max-height: 20%;
    }
}

.menu-svg-wrapper {
    display: flex;
    align-items: center;
}

svg {
    max-width: 30px;
    max-height: 30px;
}

.menu-top {
    grid-area: 2 / 1 / 3 / 2;
}

.menu-bottom {
    grid-area: 3 / 1 / 4 / 2;
}

.header-top {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
    justify-content: space-between;

}

.search-bar {
    display: flex;
    width: calc(50px + 35vw);
    padding-right: 12px;

    > input {
        flex: 4;
        margin-left: 2rem;
        border-radius: 5px;
    }

    > svg {
        flex: 1;
    };
}

.profile-container > svg {
    fill: grey;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#notification {
    position: relative;
    + img {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#notification::before {
    position: relative;
    bottom: 12px;
    right: 8px;
    content: "1";
    padding: 1px;
    color: white;
    font-size: 0.7rem;
    background-color: red;
    border-radius: 12px;
}

img {
    border-radius: 360px;
    border: 1px solid gray;
}

img {
    max-width: 45px;
    max-height: 45px;
}

.uname {
    font-weight: 600;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    > div {
        font-size: 0.6em;
        line-height: 1;
    }
}

#goofy-image {
    max-width: 70px;
    max-height: 70px;
}

.greeting-container {
    display: flex;
    align-items: center;
    > .welcome-message {
        padding-left: 1rem;
    }
}

